#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp V &kp R &kp D &kp B &kp Q   &kp A &kp A &kp A &kp A &kp A
          &kp A &kp S &kp N &kp T &kp H &kp K    &kp G &kp C &kp A &kp E &kp I &kp A
                &kp Z &kp X &kp M &kp L &kp J    &kp W &kp F &kp A &kp A &kp .
            &kp A &underspace &kp A              &kp A &kp A &kp A        
            >;
        };
    };
 };
