#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp V &kp R &kp D &kp B &kp Q    &kp , &kp P &kp O &kp U &kp Y
          &kp A &kp S &kp N &kp T &kp H &kp K    &kp G &kp C &kp A &kp E &kp I &kp ESC
                &kp Z &kp X &kp M &kp L &kp J    &kp N &kp F &kp SEMI &kp APOS &kp DOT
        &kp LEFT_CONTROL &kp SPACE &kp TAB              &kp RET &kp BACKSPACE &kp LEFT_SHIFT
            >;
        };
    };
 };
